/* Navigation Bar Styles */
#navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #ddd;
    color: black;
}

/* Adjust body margin */
body {
    margin: 0;
}

/* Search Bar Styles */
#search-bar {
    position: absolute;
    top: 60px; /* Adjusted to appear below the navbar */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
}

#search-bar input,
#search-bar button {
    padding: 5px;
    font-size: 16px;
}

/* Map Container Styles */
#map {
    height: calc(100vh - 60px); /* Adjusted to account for navbar height */
    width: 100%;
}

/* Quest List Styles */
#progress-container {
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 10px;
}

#current-level {
    font-weight: bold;
    margin-right: 10px;
}

#progress-bar-container {
    flex-grow: 1;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s;
}

/* Quest Header */
#quest-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

/* Filter Dropdown */
#category-filter {
    padding: 5px;
    font-size: 14px;
    
}

/* Quest List and Diamond Styles */
#quest-list {
    margin: 20px;
}

/* Quest List Styles */
#quests {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.quest-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quest-diamond {
    width: 30px;
    height: 30px;
    background: #ffcc00;
    transform: rotate(45deg); /* Diamond shape */
    margin-right: 10px;
    display: inline-block;
    
}

.quest-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    border-radius: 8px;
    text-align: center;
}

